@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
}

header {
  margin: 2em 0;
}

h1 {
  font-weight: 700;
}

.page-container {
  width: 85%;
  max-width: 90rem;
}

video {
  background: #555;
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 1080 / 1920);
}
